form {
      width: 100%;
}
.inputs {
      width: 100%;
      margin-bottom: 20px;
}
.select{
      width: 100%;
      margin-bottom: 0;
      margin-bottom: 20px;
}
.select.user {
      background-color: red;
      margin-bottom: 0;
}
.errorMsg {
      display: inline-grid;
      color:red;
      font-size: 12px;
      padding: 8px 0;
}